{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Search for a product" class="form-control form-control-borderless" name="item-name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for product in product_object %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{product.image}}" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">{{product.title}}</div>
                    <div style="color:orangered" class="card-text">{{product.price}}</div>
                    <button class="btn btn-warning">View</button>
                    <button class="btn btn-success">Add to card</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- for pagination -->

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
                    </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}
