{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" class="form-control form-control-borderless" name="item-name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for product in product_object %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{product.image}}" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">{{product.title}}</div>
                    <div style="color:orangered" class="card-text">{{product.price}}</div>
                    <button class="btn btn-warning">View</button>
                    <button class="btn btn-success">Add to card</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
