{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Search for a product" class="form-control form-control-borderless" name="item-name">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% for product in product_object %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{product.image}}" alt="" class="card-img-top">
                <div class="card-body">
                    <div id="aa{{ product.id }}" class="card-title">{{product.title}}</div>
                    <div style="color:orangered" class="card-text">{{product.price}}</div>
                    <a href="{{ product.id }}" class="btn btn-warning">View</a>
                    <button id="{{ product.id }}" class="btn idClick btn-success">Add to card</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- for pagination -->

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
                    </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascript %} 
    <script type="text/javascript">
        if ( localStorage.getItem('card') == null) { 
            var card = {};
        } else {
            card = JSON.parse(localStorage.getItem('card'));
        }
        $(document).on('click', '.idClick', function(){
            // to get id for each product in database and transform it into String
            var item_id = this.id.toString();  
            
            // handling how much add to card btn was clicked by user
            if (card[item_id] != undefined) { // undefined means that item_id (key) hasn't yet a value
                quantity = card[item_id][0] + 1;
                card[item_id][0] = quantity;    

            }else { 
                quantity = 1;
                name = document.getElementById('aa'+item_id).innerHTML;
                card[item_id] = [quantity, name];
            }
            
            // registering in localStorage our card
            localStorage.setItem('card', JSON.stringify(card));

            // displaying card increasing level in nav bar
            document.getElementById('card').innerHTML = "Card ("+Object.keys(card).length+")";
        });
     
        displayAllOrdersByUser(card);
        
        function displayAllOrdersByUser(card){
            var cardString = "";
            cardString += "<h5>All your orders' list</h5>";
            var index = 1; // will count the number of product in popover
            
            for(var x in card){
                cardString += index;
                cardString += document.getElementById("aa"+x).innerHTML +" Quantity :"+ card[x][0] + "</br>";
                index +=1;
            }

            cardString += "<a href='/checkout' class='btn btn-primary'>Checkout</a>";
            $('[data-toggle="popover"]').popover();
            document.getElementById('card').setAttribute('data-content', cardString);
        }
        
    </script>

{% endblock %}
